pywin32
absl-py==2.1.0
altair==5.3.0
annotated-types==0.6.0
anyio==4.3.0
attrs==23.2.0
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.2.1
contourpy==1.2.1
cvzone==1.4.1
cycler==0.12.1
defusedxml==0.7.1
enum34==1.1.10
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastapi==0.110.2
flatbuffers==24.3.25
fonttools==4.51.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
idna==3.7
importlib-metadata==7.0.1
importlib-resources==6.1.1
jax==0.4.26
Jinja2==3.1.3
joblib==1.4.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyboard==0.13.5
kiwisolver==1.4.5
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
mdurl==0.1.2
mediapipe==0.10.9
ml-dtypes==0.2.0
mouse==0.7.1
MouseInfo==0.1.3
multidict==6.0.4
mypy-extensions==1.0.0
numpy==1.26.3
oauthlib==3.2.2
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.2
pandas==2.2.0
pillow==10.3.0
protobuf==3.20.0
psutil==5.9.8
pyarrow==16.0.0
PyAudio==0.2.14
PyAutoGUI==0.9.53
pycaw==20181226
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.0b1
PyGetWindow==0.0.9
Pygments==2.17.2
PyMsgBox==1.0.9
pyparsing==3.1.2
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.9.0.post0
pytweening==1.2.0
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.0
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
scikit-learn==1.4.2
scipy==1.13.0
screen-brightness-control==0.9.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.4.6
SpeechRecognition==3.10.1
starlette==0.37.2
streamlit==1.33.0
supervision==0.18.0
tenacity==8.2.3
threadpoolctl==3.4.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
typer==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.29.0
watchdog==4.0.0
WMI==1.5.1
zipp==3.18.1
